#login {
    position: relative;
    margin: 0;
    top: 20%;
    left: 20%;
}

#helloText {
    position: relative;
    margin: 0;
    left: 200px;
    top: 100px;
    font-size: 100px;
    color: orange;
}

.tbName {
    width: 300px;
    height: 26px;
}

.btnLogin {
    width: 100px;
    height: 26px;
}